* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor_noticias {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 48px;
}

hr {
    width: 22%;
    border: 1px solid rgb(0, 0, 0);
}

.noticias {
    display: flex;
    max-width: 60%;
    height: auto;
    gap: 100px;
    padding: 20px;
}

.noticias a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(14, 141, 225);
}

.noticia1 p,
a {
    max-width: 90%;
}

.noticia1 p {

    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;

}

.noticia2 p {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.noticia3 p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

.noticia2 p,
a {
    max-width: 90%;
}

.noticia3 p,
a {
    max-width: 90%;
}

.noticia1 img {
    display: flex;
    border: 2px solid black;
    margin-bottom: 40px;
}

.noticia2 img {
    display: flex;
    border: 2px solid black;
    margin-bottom: 40px;
}

.noticia3 img {
    display: flex;
    border: 2px solid black;
    margin-bottom: 40px;
}