* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 100%;

}

/*Cabecera*/

header {
    display: flex;
    margin-top: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

h1 {
    font-size: 25px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 16px;
    transition: 0.3s;

}

header nav a:hover {
    text-decoration: none;
    margin: 0 10px;

}

.enlace_cuadrado {
    margin: 25px;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    font-size: 16px;
    padding-bottom: 6px;
    border: 1px solid black;
    transition: 0.3s;
}

.enlace_cuadrado:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

/*Main*/

.seccion1 {

    background-color: gainsboro;
    padding: 30px;
    margin-bottom: 30px;

}

.cont-seccion1 {

    display: flex;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-seccion1 p {
    max-width: 40%;
    margin-bottom: 40px;
}



/*Footer*/

footer {
    background-color: gainsboro;
}