* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 90%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;


}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor_menu {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.contenedor_menu p {
    margin-bottom: 40px;
}

header nav {
    background-color: black;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;

}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: green;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.texto {
    margin-left: 600px;
    max-width: 60%;
}

@media (max-width: 1000px) {
    .contenedor_menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .texto {
        margin-top: 130px;
        margin-left: 0;
        max-width: 80%;
    }
}