#tabla {
    width: 50%;
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
    empty-cells: hide;
    table-layout: fixed;
}

caption {
    font-weight: bold;
    font-size: 20px;
}

th,
td {
    border: 2px solid black;
    padding: 15px;
}

th {
    font-size: 20px;
    background-color: rgb(236, 240, 240);
}