* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    margin: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

.contendorCabecera {
    display: flex;
    max-width: 75%;
    padding: 60px;
    height: min-content;
    margin: 0 auto;
    background-color: rgb(1, 95, 190);
    border-radius: 20px;
    justify-content: space-between;
}

section {
    width: 50%;
    font-size: 55px;
    color: white;
    margin-top: 50px;
}

section .titulos {
    color: white;
    font-weight: bolder;
}

.enlaces {
    display: flex;
    font-size: 16px;
    gap: 40px;
    margin-top: 40px;
}

.enlaces a {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 15px 40px;
}

.enlaces .boton_transparente {
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s;
}

.enlaces .boton_transparente:hover {
    background-color: white;
    color: black;
}

.enlaces .boton_relleno {
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: 0.3s;
}

.enlaces .boton_relleno:hover {
    background-color: navy;
    color: white;
    border: 1px solid navy;
}

@media (max-width: 768px) {
    .contendorCabecera {
        flex-direction: column;
    }
}